APP_HOST=127.0.0.1
APP_PORT=5072
APP_DEBUG=true

HEADLESS=true
BROWSER_TYPE=chromium
THREAD_COUNT=4
PROXY_SUPPORT=false

USERAGENT=
USE_RANDOM_CONFIG=false
BROWSER_NAME=
BROWSER_VERSION=

CACHE_TTL=3600
RESULT_TTL_DAYS=7
PREHEAT_URL=https://consultavehicular.sunarp.gob.pe/